openapi: 3.0.3
info:
  title: 'Mazayada API Documentation'
  description: 'Mazayada mobile API (v1). Token-authenticated JSON API for the Flutter client covering auctions and the citizen dashboard. All responses use a unified envelope ({data, message, meta} on success; {message, errors} on error). Money is returned in dinars; send Accept-Language (ar|fr|en) to localize responses.'
  version: 1.0.0
servers:
  -
    url: 'https://mazayada.findosystem.com'
tags:
  -
    name: Appeals
    description: "\nCitizen appeals (الطعون) against an auction result. An appeal is filed from a\nspecific auction the user took part in, then routed through the platform admin\nand the organising entity. The client only ever sees the 3 public states\n(PENDING / APPROVED / REJECTED)."
  -
    name: 'Auction Q&A'
    description: "\nRegistered bidders asking written questions during the inspection window\n(§4 step 4). Answers are published by staff and surfaced via the public Q&A\nread endpoint."
  -
    name: 'Auction registration'
    description: "\nThe §4 flow: buy the condition book (a prerequisite that unlocks its\ndownload), then start paid registration (the participation deposit) via the\npayment gateway. Requires a verified (KYC-complete) account."
  -
    name: Auctions
    description: "\nPublic, read-only auction browsing. Money is returned in dinars; bidders are\nshown only by their deterministic alias."
  -
    name: Authentication
    description: "\nToken-based authentication for the mobile app. Mirrors the web auth flows\n(OTP email verification, enumeration-safe reset, secret-question recovery) but\nissues a Sanctum access + refresh token pair instead of a session. The shared\nOTP / user-creation logic lives in OtpService + RegisterCitizen so web and API\nstay in lock-step."
  -
    name: Bidding
    description: "\nPlacing bids. Requires a verified (KYC-complete) account and a paid\nregistration on the auction. Rate-limited per user per auction."
  -
    name: 'Commercial Register'
    description: "\nThe user's Commercial Register (السجل التجاري) submission. Mirrors the web flow:\nsubmit the register data plus two scans, an admin reviews it, and only an\nAPPROVED register unlocks participation in auctions flagged\n`requires_commerce_register`. Independent of KYC — a user may hold either, both\nor neither."
  -
    name: Dashboard
    description: "\nThe citizen's home summary and their participation history."
  -
    name: Devices
    description: "\nPush-notification device registry. The app registers its provider token here so\nthe platform can reach it, and unregisters on sign-out."
  -
    name: Documents
    description: "\nThe signed-in user's personal document library — every generated PDF tied to an\nauction they engaged with (condition book / award / receipt / delivery report),\nplus the policy-gated binary download. Streams from the private disk; access is\ngated by DocumentPolicy@download."
  -
    name: Endpoints
    description: ''
  -
    name: 'Financial Reports'
    description: "\nThe citizen's personal financial report (تقاريري المالية)."
  -
    name: KYC
    description: "\nIdentity verification: upload documents to the private disk, submit the profile\nfor review, and stream back the user's own documents. Mirrors the web KYC flow."
  -
    name: Notifications
    description: "\nThe citizen's in-app notification inbox."
  -
    name: Payments
    description: "\nThe winner's final payment plus the gateway return handling and a status\nendpoint the app polls after the gateway web view closes."
  -
    name: Profile
    description: "\nView and update the authenticated citizen's editable profile fields."
  -
    name: System
    description: "\nLightweight, unauthenticated endpoints to verify the API pipeline (routing,\nenvelope, locale, rate limiting) is wired correctly."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'Obtain an <b>access token</b> from <code>POST /api/v1/auth/login</code> or <code>POST /api/v1/auth/verify-otp</code> and send it as <code>Authorization: Bearer &lt;access_token&gt;</code>. Access tokens are short-lived — use the <b>refresh token</b> at <code>POST /api/v1/auth/refresh</code> (send the refresh token as the bearer) to obtain a new pair.'
security:
  -
    default: []
paths:
  /api/v1/appeals:
    get:
      summary: 'List my appeals'
      operationId: listMyAppeals
      description: ''
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'يلزم تسجيل الدخول.'
                properties:
                  message:
                    type: string
                    example: 'يلزم تسجيل الدخول.'
      tags:
        - Appeals
      security: []
  '/api/v1/appeals/{id}':
    get:
      summary: 'Get an appeal'
      operationId: getAnAppeal
      description: 'Full detail for a single appeal owned by the authenticated user.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'يلزم تسجيل الدخول.'
                properties:
                  message:
                    type: string
                    example: 'يلزم تسجيل الدخول.'
      tags:
        - Appeals
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the appeal.'
        example: a216fb1d-403f-431b-bf29-b80079a51cbb
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/appeals':
    post:
      summary: 'Submit an appeal'
      operationId: submitAnAppeal
      description: "Files an appeal against the result of the given auction. Requires that the\nauction has closed, is still within the appeal window, and that the user\ntook part with at least one valid bid; only one appeal per auction."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Appeals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: ''
                  example: 'اعتراض على نتيجة المزاد'
                reason:
                  type: string
                  description: ''
                  example: 'لم يتم احتساب مزايدتي الأخيرة.'
              required:
                - subject
                - reason
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
      -
        in: path
        name: auction
        description: 'The auction to appeal.'
        example: a2164134-b1d3-404d-9399-dff76472ac26
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/questions':
    post:
      summary: 'Ask a question'
      operationId: askAQuestion
      description: 'Submit a question for staff to answer. Starts as PENDING and public.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - 'Auction Q&A'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
                  description: 'The question text (max 1000).'
                  example: 'هل المركبة تعمل؟'
              required:
                - question
      security: []
    get:
      summary: 'Public Q&A'
      operationId: publicQA
      description: 'Answered, public inspection questions for an auction (asker not identified).'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: null
                  meta:
                    pagination:
                      current_page: 1
                      last_page: 1
                      per_page: 20
                      total: 0
                      count: 0
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 20
                          total:
                            type: integer
                            example: 0
                          count:
                            type: integer
                            example: 0
      tags:
        - Auctions
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/buy-book':
    post:
      summary: 'Buy the condition book'
      operationId: buyTheConditionBook
      description: "Creates the pending book-purchase payment and returns the gateway redirect\nURL. Buying the book unlocks its download and is a prerequisite for\nregistering. Open `redirect_url` in a web view, then re-fetch the auction.\n\nA 422 carries a stable `code` — branch on it rather than on the (translated)\nmessage: `book_free` and `already_bought_book` both mean \"go straight to\nregistration\"; `commerce_register_required` and `not_eligible` mean \"send the\nuser to the Commercial Register / KYC screen first\"."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'لقد اشتريت كراسة الشروط بالفعل.'
                  code: already_bought_book
                properties:
                  message:
                    type: string
                    example: 'لقد اشتريت كراسة الشروط بالفعل.'
                  code:
                    type: string
                    example: already_bought_book
      tags:
        - 'Auction registration'
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/register':
    post:
      summary: 'Start registration'
      operationId: startRegistration
      description: "Creates the pending deposit payment and returns the gateway redirect URL.\nThe condition book must already be purchased. Open `redirect_url` in a web\nview; once the gateway returns, poll `GET payments/{ref}/status` (or\nre-fetch the auction) to confirm.\n\nA 422 carries a stable `code`: `must_purchase_book` (go back a step),\n`already_registered` (proceed to bidding), `commerce_register_required`,\n`not_eligible`, `nothing_due`."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'يجب شراء كراسة الشروط أولاً قبل التسجيل في المزايدة.'
                  code: must_purchase_book
                properties:
                  message:
                    type: string
                    example: 'يجب شراء كراسة الشروط أولاً قبل التسجيل في المزايدة.'
                  code:
                    type: string
                    example: must_purchase_book
      tags:
        - 'Auction registration'
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  /api/v1/auctions:
    get:
      summary: 'List auctions'
      operationId: listAuctions
      description: "Paginated, filterable list of public auctions. The filter vocabulary is\nidentical to the web browse page (App\\Support\\AuctionFilters)."
      parameters:
        -
          in: query
          name: q
          description: 'Keyword — matches the title in any locale or the asset location.'
          example: سيارة
          required: false
          schema:
            type: string
            description: 'Keyword — matches the title in any locale or the asset location.'
            example: سيارة
        -
          in: query
          name: category
          description: 'Filter by category id.'
          example: consequatur
          required: false
          schema:
            type: string
            description: 'Filter by category id.'
            example: consequatur
        -
          in: query
          name: wilaya
          description: 'Filter by wilaya id.'
          example: 16
          required: false
          schema:
            type: integer
            description: 'Filter by wilaya id.'
            example: 16
        -
          in: query
          name: commune
          description: 'Filter by commune id.'
          example: 17
          required: false
          schema:
            type: integer
            description: 'Filter by commune id.'
            example: 17
        -
          in: query
          name: status
          description: 'User tokens (upcoming, live, closed) or raw enum values.'
          example: null
          required: false
          schema:
            type: array
            description: 'User tokens (upcoming, live, closed) or raw enum values.'
            example: null
            items:
              type: string
        -
          in: query
          name: type
          description: 'Auction type: SALE or LEASE.'
          example: SALE
          required: false
          schema:
            type: string
            description: 'Auction type: SALE or LEASE.'
            example: SALE
        -
          in: query
          name: asset_class
          description: 'One or more asset classes.'
          example: null
          required: false
          schema:
            type: array
            description: 'One or more asset classes.'
            example: null
            items:
              type: string
        -
          in: query
          name: condition
          description: 'One or more asset conditions.'
          example: null
          required: false
          schema:
            type: array
            description: 'One or more asset conditions.'
            example: null
            items:
              type: string
        -
          in: query
          name: requires_cr
          description: 'Commercial-register requirement (1 = required, 0 = not).'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Commercial-register requirement (1 = required, 0 = not).'
            example: true
        -
          in: query
          name: price_min
          description: 'Minimum opening price in dinars.'
          example: 100000
          required: false
          schema:
            type: integer
            description: 'Minimum opening price in dinars.'
            example: 100000
        -
          in: query
          name: price_max
          description: 'Maximum opening price in dinars.'
          example: 5000000
          required: false
          schema:
            type: integer
            description: 'Maximum opening price in dinars.'
            example: 5000000
        -
          in: query
          name: sort
          description: 'newest (default), price_asc, price_desc, most_bids, ending_soon.'
          example: ending_soon
          required: false
          schema:
            type: string
            description: 'newest (default), price_asc, price_desc, most_bids, ending_soon.'
            example: ending_soon
        -
          in: query
          name: per_page
          description: 'Items per page (1-50, default 12).'
          example: 12
          required: false
          schema:
            type: integer
            description: 'Items per page (1-50, default 12).'
            example: 12
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: null
                  meta:
                    pagination:
                      current_page: 1
                      last_page: 1
                      per_page: 12
                      total: 0
                      count: 0
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties:
                      pagination:
                        type: object
                        properties:
                          current_page:
                            type: integer
                            example: 1
                          last_page:
                            type: integer
                            example: 1
                          per_page:
                            type: integer
                            example: 12
                          total:
                            type: integer
                            example: 0
                          count:
                            type: integer
                            example: 0
      tags:
        - Auctions
      security: []
  /api/v1/auctions/search:
    get:
      summary: 'Search auctions'
      operationId: searchAuctions
      description: "Lightweight autocomplete for the browse search box — the enveloped, dinar\nmobile counterpart of the web live-search dropdown. Returns up to 8 public\nauctions matching the term by title (any locale) or asset location. Requires\nat least 2 characters; a shorter term returns an empty list."
      parameters:
        -
          in: query
          name: q
          description: 'The search term (min 2 chars).'
          example: villa
          required: true
          schema:
            type: string
            description: 'The search term (min 2 chars).'
            example: villa
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data: []
                  message: null
                  meta: {  }
                properties:
                  data:
                    type: array
                    example: []
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties: {  }
      tags:
        - Auctions
      security: []
  /api/v1/auctions/filters:
    get:
      summary: 'Filter options'
      operationId: filterOptions
      description: "The reference data the mobile browse screen needs to build its filter UI:\nactive categories, wilayas, and the enumerated token sets (status, type,\nasset class, condition, sort). Cached-friendly and locale-aware (names come\nfrom the localized accessor). Pass `wilaya` to also get that wilaya's communes."
      parameters:
        -
          in: query
          name: wilaya
          description: "Optionally include this wilaya's communes."
          example: 16
          required: false
          schema:
            type: integer
            description: "Optionally include this wilaya's communes."
            example: 16
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    categories:
                      -
                        id: 1
                        name: مركبات
                      -
                        id: 2
                        name: عقارات
                      -
                        id: 3
                        name: 'معدات صناعية'
                      -
                        id: 4
                        name: إلكترونيات
                      -
                        id: 5
                        name: خردة
                      -
                        id: 6
                        name: 'منتجات زراعية'
                      -
                        id: 7
                        name: 'أثاث مكتبي'
                      -
                        id: 8
                        name: أخرى
                      -
                        id: 9
                        name: ِسيشسيشسي
                    wilayas:
                      -
                        id: 1
                        code: '01'
                        name: أدرار
                      -
                        id: 2
                        code: '02'
                        name: الشلف
                      -
                        id: 3
                        code: '03'
                        name: الأغواط
                      -
                        id: 4
                        code: '04'
                        name: 'أم البواقي'
                      -
                        id: 5
                        code: '05'
                        name: باتنة
                      -
                        id: 6
                        code: '06'
                        name: بجاية
                      -
                        id: 7
                        code: '07'
                        name: بسكرة
                      -
                        id: 8
                        code: '08'
                        name: بشار
                      -
                        id: 9
                        code: '09'
                        name: البليدة
                      -
                        id: 10
                        code: '10'
                        name: البويرة
                      -
                        id: 11
                        code: '11'
                        name: تمنراست
                      -
                        id: 12
                        code: '12'
                        name: تبسة
                      -
                        id: 13
                        code: '13'
                        name: تلمسان
                      -
                        id: 14
                        code: '14'
                        name: تيارت
                      -
                        id: 15
                        code: '15'
                        name: 'تيزي وزو'
                      -
                        id: 16
                        code: '16'
                        name: الجزائر
                      -
                        id: 17
                        code: '17'
                        name: الجلفة
                      -
                        id: 18
                        code: '18'
                        name: جيجل
                      -
                        id: 19
                        code: '19'
                        name: سطيف
                      -
                        id: 20
                        code: '20'
                        name: سعيدة
                      -
                        id: 21
                        code: '21'
                        name: سكيكدة
                      -
                        id: 22
                        code: '22'
                        name: 'سيدي بلعباس'
                      -
                        id: 23
                        code: '23'
                        name: عنابة
                      -
                        id: 24
                        code: '24'
                        name: قالمة
                      -
                        id: 25
                        code: '25'
                        name: قسنطينة
                      -
                        id: 26
                        code: '26'
                        name: المدية
                      -
                        id: 27
                        code: '27'
                        name: مستغانم
                      -
                        id: 28
                        code: '28'
                        name: المسيلة
                      -
                        id: 29
                        code: '29'
                        name: معسكر
                      -
                        id: 30
                        code: '30'
                        name: ورقلة
                      -
                        id: 31
                        code: '31'
                        name: وهران
                      -
                        id: 32
                        code: '32'
                        name: البيض
                      -
                        id: 33
                        code: '33'
                        name: إليزي
                      -
                        id: 34
                        code: '34'
                        name: 'برج بوعريريج'
                      -
                        id: 35
                        code: '35'
                        name: بومرداس
                      -
                        id: 36
                        code: '36'
                        name: الطارف
                      -
                        id: 37
                        code: '37'
                        name: تندوف
                      -
                        id: 38
                        code: '38'
                        name: تيسمسيلت
                      -
                        id: 39
                        code: '39'
                        name: الوادي
                      -
                        id: 40
                        code: '40'
                        name: خنشلة
                      -
                        id: 41
                        code: '41'
                        name: 'سوق أهراس'
                      -
                        id: 42
                        code: '42'
                        name: تيبازة
                      -
                        id: 43
                        code: '43'
                        name: ميلة
                      -
                        id: 44
                        code: '44'
                        name: 'عين الدفلى'
                      -
                        id: 45
                        code: '45'
                        name: النعامة
                      -
                        id: 46
                        code: '46'
                        name: 'عين تموشنت'
                      -
                        id: 47
                        code: '47'
                        name: غرداية
                      -
                        id: 48
                        code: '48'
                        name: غليزان
                      -
                        id: 49
                        code: '49'
                        name: تيميمون
                      -
                        id: 50
                        code: '50'
                        name: 'برج باجي مختار'
                      -
                        id: 51
                        code: '51'
                        name: 'أولاد جلال'
                      -
                        id: 52
                        code: '52'
                        name: 'بني عباس'
                      -
                        id: 53
                        code: '53'
                        name: 'عين صالح'
                      -
                        id: 54
                        code: '54'
                        name: 'عين قزام'
                      -
                        id: 55
                        code: '55'
                        name: توقرت
                      -
                        id: 56
                        code: '56'
                        name: جانت
                      -
                        id: 57
                        code: '57'
                        name: المغير
                      -
                        id: 58
                        code: '58'
                        name: المنيعة
                    communes:
                      -
                        id: 522
                        name: 'عين بنيان'
                      -
                        id: 523
                        name: 'عين طاية'
                      -
                        id: 524
                        name: 'الجزائر الوسطى'
                      -
                        id: 525
                        name: 'باب الوادي'
                      -
                        id: 526
                        name: 'باب الزوار'
                      -
                        id: 527
                        name: 'بابا حسن'
                      -
                        id: 528
                        name: 'باش جراح'
                      -
                        id: 529
                        name: براقي
                      -
                        id: 530
                        name: 'ابن عكنون'
                      -
                        id: 531
                        name: 'بني مسوس'
                      -
                        id: 532
                        name: 'بئر مراد رايس'
                      -
                        id: 533
                        name: 'بئر توتة'
                      -
                        id: 534
                        name: 'بئر خادم'
                      -
                        id: 535
                        name: 'بولوغين بن زيري'
                      -
                        id: 536
                        name: 'برج البحري'
                      -
                        id: 537
                        name: 'برج الكيفان'
                      -
                        id: 538
                        name: بوروبة
                      -
                        id: 539
                        name: بوزريعة
                      -
                        id: 540
                        name: القصبة
                      -
                        id: 541
                        name: الشراقة
                      -
                        id: 542
                        name: 'الدار البيضاء'
                      -
                        id: 543
                        name: 'دالي ابراهيم'
                      -
                        id: 544
                        name: 'جسر قسنطينة'
                      -
                        id: 545
                        name: الدويرة
                      -
                        id: 546
                        name: الدرارية
                      -
                        id: 547
                        name: العاشور
                      -
                        id: 548
                        name: الابيار
                      -
                        id: 549
                        name: الحراش
                      -
                        id: 550
                        name: المدنية
                      -
                        id: 551
                        name: المغارية
                      -
                        id: 552
                        name: المرسى
                      -
                        id: 553
                        name: المرادية
                      -
                        id: 554
                        name: الحمامات
                      -
                        id: 555
                        name: هراوة
                      -
                        id: 556
                        name: 'حسين داي'
                      -
                        id: 557
                        name: حيدرة
                      -
                        id: 558
                        name: الخرايسية
                      -
                        id: 559
                        name: القبة
                      -
                        id: 560
                        name: الكاليتوس
                      -
                        id: 561
                        name: المعالمة
                      -
                        id: 562
                        name: 'محمد بلوزداد'
                      -
                        id: 563
                        name: المحمدية
                      -
                        id: 564
                        name: 'وادي قريش'
                      -
                        id: 565
                        name: 'وادي السمار'
                      -
                        id: 566
                        name: 'اولاد شبل'
                      -
                        id: 567
                        name: 'اولاد فايت'
                      -
                        id: 568
                        name: الرحمانية
                      -
                        id: 569
                        name: 'الرايس حميدو'
                      -
                        id: 570
                        name: رغاية
                      -
                        id: 571
                        name: الرويبة
                      -
                        id: 572
                        name: السحاولة
                      -
                        id: 573
                        name: 'سيدي امحمد'
                      -
                        id: 574
                        name: 'سيدي موسى'
                      -
                        id: 575
                        name: سويدانية
                      -
                        id: 576
                        name: سطاوالي
                      -
                        id: 577
                        name: 'تسالة المرجة'
                      -
                        id: 578
                        name: زرالدة
                    statuses:
                      - upcoming
                      - live
                      - closed
                    types:
                      - SALE
                      - LEASE
                    asset_classes:
                      - MOVABLE
                      - REAL_ESTATE
                      - CUSTOMS
                    conditions:
                      - NEW
                      - GOOD
                      - FAIR
                      - POOR
                      - SCRAP
                    sorts:
                      - newest
                      - price_asc
                      - price_desc
                      - most_bids
                      - ending_soon
                  message: null
                  meta: {  }
                properties:
                  data:
                    type: object
                    properties:
                      categories:
                        type: array
                        example:
                          -
                            id: 1
                            name: مركبات
                          -
                            id: 2
                            name: عقارات
                          -
                            id: 3
                            name: 'معدات صناعية'
                          -
                            id: 4
                            name: إلكترونيات
                          -
                            id: 5
                            name: خردة
                          -
                            id: 6
                            name: 'منتجات زراعية'
                          -
                            id: 7
                            name: 'أثاث مكتبي'
                          -
                            id: 8
                            name: أخرى
                          -
                            id: 9
                            name: ِسيشسيشسي
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: مركبات
                      wilayas:
                        type: array
                        example:
                          -
                            id: 1
                            code: '01'
                            name: أدرار
                          -
                            id: 2
                            code: '02'
                            name: الشلف
                          -
                            id: 3
                            code: '03'
                            name: الأغواط
                          -
                            id: 4
                            code: '04'
                            name: 'أم البواقي'
                          -
                            id: 5
                            code: '05'
                            name: باتنة
                          -
                            id: 6
                            code: '06'
                            name: بجاية
                          -
                            id: 7
                            code: '07'
                            name: بسكرة
                          -
                            id: 8
                            code: '08'
                            name: بشار
                          -
                            id: 9
                            code: '09'
                            name: البليدة
                          -
                            id: 10
                            code: '10'
                            name: البويرة
                          -
                            id: 11
                            code: '11'
                            name: تمنراست
                          -
                            id: 12
                            code: '12'
                            name: تبسة
                          -
                            id: 13
                            code: '13'
                            name: تلمسان
                          -
                            id: 14
                            code: '14'
                            name: تيارت
                          -
                            id: 15
                            code: '15'
                            name: 'تيزي وزو'
                          -
                            id: 16
                            code: '16'
                            name: الجزائر
                          -
                            id: 17
                            code: '17'
                            name: الجلفة
                          -
                            id: 18
                            code: '18'
                            name: جيجل
                          -
                            id: 19
                            code: '19'
                            name: سطيف
                          -
                            id: 20
                            code: '20'
                            name: سعيدة
                          -
                            id: 21
                            code: '21'
                            name: سكيكدة
                          -
                            id: 22
                            code: '22'
                            name: 'سيدي بلعباس'
                          -
                            id: 23
                            code: '23'
                            name: عنابة
                          -
                            id: 24
                            code: '24'
                            name: قالمة
                          -
                            id: 25
                            code: '25'
                            name: قسنطينة
                          -
                            id: 26
                            code: '26'
                            name: المدية
                          -
                            id: 27
                            code: '27'
                            name: مستغانم
                          -
                            id: 28
                            code: '28'
                            name: المسيلة
                          -
                            id: 29
                            code: '29'
                            name: معسكر
                          -
                            id: 30
                            code: '30'
                            name: ورقلة
                          -
                            id: 31
                            code: '31'
                            name: وهران
                          -
                            id: 32
                            code: '32'
                            name: البيض
                          -
                            id: 33
                            code: '33'
                            name: إليزي
                          -
                            id: 34
                            code: '34'
                            name: 'برج بوعريريج'
                          -
                            id: 35
                            code: '35'
                            name: بومرداس
                          -
                            id: 36
                            code: '36'
                            name: الطارف
                          -
                            id: 37
                            code: '37'
                            name: تندوف
                          -
                            id: 38
                            code: '38'
                            name: تيسمسيلت
                          -
                            id: 39
                            code: '39'
                            name: الوادي
                          -
                            id: 40
                            code: '40'
                            name: خنشلة
                          -
                            id: 41
                            code: '41'
                            name: 'سوق أهراس'
                          -
                            id: 42
                            code: '42'
                            name: تيبازة
                          -
                            id: 43
                            code: '43'
                            name: ميلة
                          -
                            id: 44
                            code: '44'
                            name: 'عين الدفلى'
                          -
                            id: 45
                            code: '45'
                            name: النعامة
                          -
                            id: 46
                            code: '46'
                            name: 'عين تموشنت'
                          -
                            id: 47
                            code: '47'
                            name: غرداية
                          -
                            id: 48
                            code: '48'
                            name: غليزان
                          -
                            id: 49
                            code: '49'
                            name: تيميمون
                          -
                            id: 50
                            code: '50'
                            name: 'برج باجي مختار'
                          -
                            id: 51
                            code: '51'
                            name: 'أولاد جلال'
                          -
                            id: 52
                            code: '52'
                            name: 'بني عباس'
                          -
                            id: 53
                            code: '53'
                            name: 'عين صالح'
                          -
                            id: 54
                            code: '54'
                            name: 'عين قزام'
                          -
                            id: 55
                            code: '55'
                            name: توقرت
                          -
                            id: 56
                            code: '56'
                            name: جانت
                          -
                            id: 57
                            code: '57'
                            name: المغير
                          -
                            id: 58
                            code: '58'
                            name: المنيعة
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            code:
                              type: string
                              example: '01'
                            name:
                              type: string
                              example: أدرار
                      communes:
                        type: array
                        example:
                          -
                            id: 522
                            name: 'عين بنيان'
                          -
                            id: 523
                            name: 'عين طاية'
                          -
                            id: 524
                            name: 'الجزائر الوسطى'
                          -
                            id: 525
                            name: 'باب الوادي'
                          -
                            id: 526
                            name: 'باب الزوار'
                          -
                            id: 527
                            name: 'بابا حسن'
                          -
                            id: 528
                            name: 'باش جراح'
                          -
                            id: 529
                            name: براقي
                          -
                            id: 530
                            name: 'ابن عكنون'
                          -
                            id: 531
                            name: 'بني مسوس'
                          -
                            id: 532
                            name: 'بئر مراد رايس'
                          -
                            id: 533
                            name: 'بئر توتة'
                          -
                            id: 534
                            name: 'بئر خادم'
                          -
                            id: 535
                            name: 'بولوغين بن زيري'
                          -
                            id: 536
                            name: 'برج البحري'
                          -
                            id: 537
                            name: 'برج الكيفان'
                          -
                            id: 538
                            name: بوروبة
                          -
                            id: 539
                            name: بوزريعة
                          -
                            id: 540
                            name: القصبة
                          -
                            id: 541
                            name: الشراقة
                          -
                            id: 542
                            name: 'الدار البيضاء'
                          -
                            id: 543
                            name: 'دالي ابراهيم'
                          -
                            id: 544
                            name: 'جسر قسنطينة'
                          -
                            id: 545
                            name: الدويرة
                          -
                            id: 546
                            name: الدرارية
                          -
                            id: 547
                            name: العاشور
                          -
                            id: 548
                            name: الابيار
                          -
                            id: 549
                            name: الحراش
                          -
                            id: 550
                            name: المدنية
                          -
                            id: 551
                            name: المغارية
                          -
                            id: 552
                            name: المرسى
                          -
                            id: 553
                            name: المرادية
                          -
                            id: 554
                            name: الحمامات
                          -
                            id: 555
                            name: هراوة
                          -
                            id: 556
                            name: 'حسين داي'
                          -
                            id: 557
                            name: حيدرة
                          -
                            id: 558
                            name: الخرايسية
                          -
                            id: 559
                            name: القبة
                          -
                            id: 560
                            name: الكاليتوس
                          -
                            id: 561
                            name: المعالمة
                          -
                            id: 562
                            name: 'محمد بلوزداد'
                          -
                            id: 563
                            name: المحمدية
                          -
                            id: 564
                            name: 'وادي قريش'
                          -
                            id: 565
                            name: 'وادي السمار'
                          -
                            id: 566
                            name: 'اولاد شبل'
                          -
                            id: 567
                            name: 'اولاد فايت'
                          -
                            id: 568
                            name: الرحمانية
                          -
                            id: 569
                            name: 'الرايس حميدو'
                          -
                            id: 570
                            name: رغاية
                          -
                            id: 571
                            name: الرويبة
                          -
                            id: 572
                            name: السحاولة
                          -
                            id: 573
                            name: 'سيدي امحمد'
                          -
                            id: 574
                            name: 'سيدي موسى'
                          -
                            id: 575
                            name: سويدانية
                          -
                            id: 576
                            name: سطاوالي
                          -
                            id: 577
                            name: 'تسالة المرجة'
                          -
                            id: 578
                            name: زرالدة
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 522
                            name:
                              type: string
                              example: 'عين بنيان'
                      statuses:
                        type: array
                        example:
                          - upcoming
                          - live
                          - closed
                        items:
                          type: string
                      types:
                        type: array
                        example:
                          - SALE
                          - LEASE
                        items:
                          type: string
                      asset_classes:
                        type: array
                        example:
                          - MOVABLE
                          - REAL_ESTATE
                          - CUSTOMS
                        items:
                          type: string
                      conditions:
                        type: array
                        example:
                          - NEW
                          - GOOD
                          - FAIR
                          - POOR
                          - SCRAP
                        items:
                          type: string
                      sorts:
                        type: array
                        example:
                          - newest
                          - price_asc
                          - price_desc
                          - most_bids
                          - ending_soon
                        items:
                          type: string
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties: {  }
      tags:
        - Auctions
      security: []
  '/api/v1/auctions/{id}':
    get:
      summary: 'Get an auction'
      operationId: getAnAuction
      description: "Full detail for a single public auction. If the bidding clock has run out\nbut the auction is not yet finalised, it is closed on read (winner + final\nprice) so the response is canonical."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: a2050443-68af-41f5-8080-20d4b878c6ca
                    title: 'new one'
                    titles:
                      ar: 'new one'
                      fr: 'new one'
                      en: null
                    description: "new one\r\nnew one\r\nnew one\r\nnew one"
                    descriptions:
                      ar: "new one\r\nnew one\r\nnew one\r\nnew one"
                      fr: "new one\r\nnew one\r\nnew one\r\nnew one"
                    specifications: []
                    status: CLOSED
                    auction_type: SALE
                    asset_class: REAL_ESTATE
                    condition: NEW
                    unit_count: 1
                    condition_terms: null
                    award_terms: null
                    category:
                      id: 2
                      name: عقارات
                    wilaya:
                      id: 2
                      code: '02'
                      name: الشلف
                    commune:
                      id: 23
                      name: بوقادير
                    entity:
                      id: a1dc9d20-adb9-4238-9c3d-a600ccd3075e
                      name: 'المجلس الشعبي البلدي لخنشلة'
                    asset_location: 'new site'
                    latitude: null
                    longitude: null
                    mayor_name: 'new name'
                    photos:
                      - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JHBtdQWhA4LOIjXbioJHCzgG8ovifXRrNtxAjLlz.jpg'
                      - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/vLQTdRnwLwgvzRM53r87vWOePYcMCOHnTfVqeBJD.jpg'
                      - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JcshBU0KGcgYrwxQhkikA3vDcM4fhI2V8ZQGMxSB.jpg'
                    cover_photo_url: 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JHBtdQWhA4LOIjXbioJHCzgG8ovifXRrNtxAjLlz.jpg'
                    video_url: 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/video/knxMOt8C3yG3JwAnyiIPuKkDbHOWVAVTPa0mrGpD.mp4'
                    opening_price:
                      amount: 1000000
                      formatted: '1 000 000 دج'
                    current_price:
                      amount: 6100000
                      formatted: '6 100 000 دج'
                    deposit_amount:
                      amount: 200
                      formatted: '200 دج'
                    deposit_percent: 10
                    book_price:
                      amount: 200
                      formatted: '200 دج'
                    has_book_access: false
                    bid_count: 15
                    start_time: '2026-06-14T11:10:00+01:00'
                    end_time: '2026-06-14T12:00:00+01:00'
                    seconds_remaining: 0
                    is_live: false
                    is_biddable: false
                    has_ended: false
                    extension_count: 0
                    max_extensions: 10
                    inspection:
                      start: '2026-06-14T11:03:00+01:00'
                      end: '2026-06-20T11:03:00+01:00'
                      location: 'new site'
                      is_open: false
                    appeal_window:
                      days: 8
                      is_open: false
                      deadline: '2026-06-23T19:27:21+01:00'
                    requires_commerce_register: false
                    requires_newspaper_announcement: true
                    winner_alias: Bold_Falcon_197
                    final_price:
                      amount: 6100000
                      formatted: '6 100 000 دج'
                    condition_book:
                      id: f5cea43f-df52-4942-89bf-716077671467
                      type: CONDITION_BOOK
                      type_label: 'كراسة الشروط'
                      title: 'كراسة شروط — new one'
                      is_public: false
                      file_size: 56144
                      file_size_human: '54.8 KB'
                      issued_at: '2026-06-14T08:05:04+01:00'
                      download_url: 'http://mazayada.findosystem.com/api/v1/documents/f5cea43f-df52-4942-89bf-716077671467/download'
                      verify_url: 'http://mazayada.findosystem.com/verify?doc=f5cea43f-df52-4942-89bf-716077671467&sig=8a080d731cbc88a58981e64e0cb855eeafb200d24fa8e9caecddfdec8c02bd8c'
                    award_document: null
                  message: null
                  meta:
                    viewer: null
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: a2050443-68af-41f5-8080-20d4b878c6ca
                      title:
                        type: string
                        example: 'new one'
                      titles:
                        type: object
                        properties:
                          ar:
                            type: string
                            example: 'new one'
                          fr:
                            type: string
                            example: 'new one'
                          en:
                            type: string
                            example: null
                            nullable: true
                      description:
                        type: string
                        example: "new one\r\nnew one\r\nnew one\r\nnew one"
                      descriptions:
                        type: object
                        properties:
                          ar:
                            type: string
                            example: "new one\r\nnew one\r\nnew one\r\nnew one"
                          fr:
                            type: string
                            example: "new one\r\nnew one\r\nnew one\r\nnew one"
                      specifications:
                        type: array
                        example: []
                      status:
                        type: string
                        example: CLOSED
                      auction_type:
                        type: string
                        example: SALE
                      asset_class:
                        type: string
                        example: REAL_ESTATE
                      condition:
                        type: string
                        example: NEW
                      unit_count:
                        type: integer
                        example: 1
                      condition_terms:
                        type: string
                        example: null
                        nullable: true
                      award_terms:
                        type: string
                        example: null
                        nullable: true
                      category:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          name:
                            type: string
                            example: عقارات
                      wilaya:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 2
                          code:
                            type: string
                            example: '02'
                          name:
                            type: string
                            example: الشلف
                      commune:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 23
                          name:
                            type: string
                            example: بوقادير
                      entity:
                        type: object
                        properties:
                          id:
                            type: string
                            example: a1dc9d20-adb9-4238-9c3d-a600ccd3075e
                          name:
                            type: string
                            example: 'المجلس الشعبي البلدي لخنشلة'
                      asset_location:
                        type: string
                        example: 'new site'
                      latitude:
                        type: string
                        example: null
                        nullable: true
                      longitude:
                        type: string
                        example: null
                        nullable: true
                      mayor_name:
                        type: string
                        example: 'new name'
                      photos:
                        type: array
                        example:
                          - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JHBtdQWhA4LOIjXbioJHCzgG8ovifXRrNtxAjLlz.jpg'
                          - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/vLQTdRnwLwgvzRM53r87vWOePYcMCOHnTfVqeBJD.jpg'
                          - 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JcshBU0KGcgYrwxQhkikA3vDcM4fhI2V8ZQGMxSB.jpg'
                        items:
                          type: string
                      cover_photo_url:
                        type: string
                        example: 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/JHBtdQWhA4LOIjXbioJHCzgG8ovifXRrNtxAjLlz.jpg'
                      video_url:
                        type: string
                        example: 'http://localhost:8000/storage/auctions/a2050443-68af-41f5-8080-20d4b878c6ca/video/knxMOt8C3yG3JwAnyiIPuKkDbHOWVAVTPa0mrGpD.mp4'
                      opening_price:
                        type: object
                        properties:
                          amount:
                            type: integer
                            example: 1000000
                          formatted:
                            type: string
                            example: '1 000 000 دج'
                      current_price:
                        type: object
                        properties:
                          amount:
                            type: integer
                            example: 6100000
                          formatted:
                            type: string
                            example: '6 100 000 دج'
                      deposit_amount:
                        type: object
                        properties:
                          amount:
                            type: integer
                            example: 200
                          formatted:
                            type: string
                            example: '200 دج'
                      deposit_percent:
                        type: integer
                        example: 10
                      book_price:
                        type: object
                        properties:
                          amount:
                            type: integer
                            example: 200
                          formatted:
                            type: string
                            example: '200 دج'
                      has_book_access:
                        type: boolean
                        example: false
                      bid_count:
                        type: integer
                        example: 15
                      start_time:
                        type: string
                        example: '2026-06-14T11:10:00+01:00'
                      end_time:
                        type: string
                        example: '2026-06-14T12:00:00+01:00'
                      seconds_remaining:
                        type: integer
                        example: 0
                      is_live:
                        type: boolean
                        example: false
                      is_biddable:
                        type: boolean
                        example: false
                      has_ended:
                        type: boolean
                        example: false
                      extension_count:
                        type: integer
                        example: 0
                      max_extensions:
                        type: integer
                        example: 10
                      inspection:
                        type: object
                        properties:
                          start:
                            type: string
                            example: '2026-06-14T11:03:00+01:00'
                          end:
                            type: string
                            example: '2026-06-20T11:03:00+01:00'
                          location:
                            type: string
                            example: 'new site'
                          is_open:
                            type: boolean
                            example: false
                      appeal_window:
                        type: object
                        properties:
                          days:
                            type: integer
                            example: 8
                          is_open:
                            type: boolean
                            example: false
                          deadline:
                            type: string
                            example: '2026-06-23T19:27:21+01:00'
                      requires_commerce_register:
                        type: boolean
                        example: false
                      requires_newspaper_announcement:
                        type: boolean
                        example: true
                      winner_alias:
                        type: string
                        example: Bold_Falcon_197
                      final_price:
                        type: object
                        properties:
                          amount:
                            type: integer
                            example: 6100000
                          formatted:
                            type: string
                            example: '6 100 000 دج'
                      condition_book:
                        type: object
                        properties:
                          id:
                            type: string
                            example: f5cea43f-df52-4942-89bf-716077671467
                          type:
                            type: string
                            example: CONDITION_BOOK
                          type_label:
                            type: string
                            example: 'كراسة الشروط'
                          title:
                            type: string
                            example: 'كراسة شروط — new one'
                          is_public:
                            type: boolean
                            example: false
                          file_size:
                            type: integer
                            example: 56144
                          file_size_human:
                            type: string
                            example: '54.8 KB'
                          issued_at:
                            type: string
                            example: '2026-06-14T08:05:04+01:00'
                          download_url:
                            type: string
                            example: 'http://mazayada.findosystem.com/api/v1/documents/f5cea43f-df52-4942-89bf-716077671467/download'
                          verify_url:
                            type: string
                            example: 'http://mazayada.findosystem.com/verify?doc=f5cea43f-df52-4942-89bf-716077671467&sig=8a080d731cbc88a58981e64e0cb855eeafb200d24fa8e9caecddfdec8c02bd8c'
                      award_document:
                        type: string
                        example: null
                        nullable: true
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties:
                      viewer:
                        type: string
                        example: null
                        nullable: true
      tags:
        - Auctions
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/bids':
    get:
      summary: 'Latest bids'
      operationId: latestBids
      description: "The most recent valid bids (alias only) plus the current price. Use this to\nhydrate the bid history, or poll it as a fallback when the realtime socket\nis unavailable."
      parameters:
        -
          in: query
          name: limit
          description: 'Number of bids to return (1-50, default 10).'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Number of bids to return (1-50, default 10).'
            example: 10
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      amount:
                        amount: 6100000
                        formatted: '6 100 000 دج'
                      bidder_alias: Bold_Falcon_197
                      bid_time: '2026-06-14T10:47:07+01:00'
                    -
                      amount:
                        amount: 6000000
                        formatted: '6 000 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T10:46:30+01:00'
                    -
                      amount:
                        amount: 5500000
                        formatted: '5 500 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T09:41:59+01:00'
                    -
                      amount:
                        amount: 5400000
                        formatted: '5 400 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T09:41:37+01:00'
                    -
                      amount:
                        amount: 5300000
                        formatted: '5 300 000 دج'
                      bidder_alias: Bold_Falcon_197
                      bid_time: '2026-06-14T09:41:22+01:00'
                    -
                      amount:
                        amount: 5200000
                        formatted: '5 200 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T09:41:12+01:00'
                    -
                      amount:
                        amount: 5000000
                        formatted: '5 000 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T09:41:04+01:00'
                    -
                      amount:
                        amount: 4600000
                        formatted: '4 600 000 دج'
                      bidder_alias: Bold_Falcon_197
                      bid_time: '2026-06-14T09:40:56+01:00'
                    -
                      amount:
                        amount: 3500000
                        formatted: '3 500 000 دج'
                      bidder_alias: Bold_Falcon_197
                      bid_time: '2026-06-14T09:40:45+01:00'
                    -
                      amount:
                        amount: 3400000
                        formatted: '3 400 000 دج'
                      bidder_alias: Swift_Hawk_242
                      bid_time: '2026-06-14T09:40:32+01:00'
                  message: null
                  meta:
                    current_price: 6100000
                    bid_count: 15
                    status: CLOSED
                properties:
                  data:
                    type: array
                    example:
                      -
                        amount:
                          amount: 6100000
                          formatted: '6 100 000 دج'
                        bidder_alias: Bold_Falcon_197
                        bid_time: '2026-06-14T10:47:07+01:00'
                      -
                        amount:
                          amount: 6000000
                          formatted: '6 000 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T10:46:30+01:00'
                      -
                        amount:
                          amount: 5500000
                          formatted: '5 500 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T09:41:59+01:00'
                      -
                        amount:
                          amount: 5400000
                          formatted: '5 400 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T09:41:37+01:00'
                      -
                        amount:
                          amount: 5300000
                          formatted: '5 300 000 دج'
                        bidder_alias: Bold_Falcon_197
                        bid_time: '2026-06-14T09:41:22+01:00'
                      -
                        amount:
                          amount: 5200000
                          formatted: '5 200 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T09:41:12+01:00'
                      -
                        amount:
                          amount: 5000000
                          formatted: '5 000 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T09:41:04+01:00'
                      -
                        amount:
                          amount: 4600000
                          formatted: '4 600 000 دج'
                        bidder_alias: Bold_Falcon_197
                        bid_time: '2026-06-14T09:40:56+01:00'
                      -
                        amount:
                          amount: 3500000
                          formatted: '3 500 000 دج'
                        bidder_alias: Bold_Falcon_197
                        bid_time: '2026-06-14T09:40:45+01:00'
                      -
                        amount:
                          amount: 3400000
                          formatted: '3 400 000 دج'
                        bidder_alias: Swift_Hawk_242
                        bid_time: '2026-06-14T09:40:32+01:00'
                    items:
                      type: object
                      properties:
                        amount:
                          type: object
                          properties:
                            amount:
                              type: integer
                              example: 6100000
                            formatted:
                              type: string
                              example: '6 100 000 دج'
                        bidder_alias:
                          type: string
                          example: Bold_Falcon_197
                        bid_time:
                          type: string
                          example: '2026-06-14T10:47:07+01:00'
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties:
                      current_price:
                        type: integer
                        example: 6100000
                      bid_count:
                        type: integer
                        example: 15
                      status:
                        type: string
                        example: CLOSED
      tags:
        - Auctions
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  '/api/v1/auctions/{auction_id}/price':
    get:
      summary: 'Current price'
      operationId: currentPrice
      description: 'A cheap, pollable snapshot of the live price and clock for an auction.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    current_price: 6100000
                    current_price_formatted: '6 100 000 دج'
                    bid_count: 15
                    status: CLOSED
                    end_time: '2026-06-14T12:00:00+01:00'
                    is_biddable: false
                    has_ended: false
                  message: null
                  meta: {  }
                properties:
                  data:
                    type: object
                    properties:
                      current_price:
                        type: integer
                        example: 6100000
                      current_price_formatted:
                        type: string
                        example: '6 100 000 دج'
                      bid_count:
                        type: integer
                        example: 15
                      status:
                        type: string
                        example: CLOSED
                      end_time:
                        type: string
                        example: '2026-06-14T12:00:00+01:00'
                      is_biddable:
                        type: boolean
                        example: false
                      has_ended:
                        type: boolean
                        example: false
                  message:
                    type: string
                    example: null
                    nullable: true
                  meta:
                    type: object
                    properties: {  }
      tags:
        - Auctions
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  /api/v1/auth/register:
    post:
      summary: Register
      operationId: register
      description: "Create a CITIZEN account and email a 6-digit verification code. Does NOT log\nthe user in — call verify-otp with the returned user_id to obtain tokens."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin:
                  type: string
                  description: ''
                  example: consequatur
                first_name_ar:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 100 حرفاً.'
                  example: mqeopfuudtdsufvyvddqa
                last_name_ar:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 100 حرفاً.'
                  example: mniihfqcoynlazghdtqtq
                phone:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'يجب أن يكون value بريداً إلكترونياً صحيحاً. يجب ألا يزيد عدد أحرف value عن 255 حرفاً.'
                  example: carolyne.luettgen@example.org
                birth_date:
                  type: string
                  description: 'يجب أن يكون value تاريخاً صحيحاً. يجب أن يكون value تاريخاً قبل <code>2008-07-30</code>.'
                  example: '2006-04-22'
                password:
                  type: string
                  description: ''
                  example: 'O[2UZ5ij-e/dl4m{o,'
                device_name:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 80 حرفاً.'
                  example: dqamniihfqcoynlazghdt
                  nullable: true
              required:
                - nin
                - first_name_ar
                - last_name_ar
                - phone
                - email
                - birth_date
                - password
      security: []
  /api/v1/auth/login:
    post:
      summary: Login
      operationId: login
      description: "Authenticate with NIN-or-email + password. Returns a token pair, or — if the\nemail is unverified — `data.needs_email_verification = true` and a fresh OTP."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin_or_email:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 255 حرفاً.'
                  example: qkunze@example.com
                password:
                  type: string
                  description: ''
                  example: 'O[2UZ5ij-e/dl4m{o,'
                device_name:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 80 حرفاً.'
                  example: dqamniihfqcoynlazghdt
                  nullable: true
              required:
                - nin_or_email
                - password
      security: []
  /api/v1/auth/password/request:
    post:
      summary: 'Request password reset'
      operationId: requestPasswordReset
      description: "Step 1 — email a reset code if the NIN+email pair matches an account. The\nresponse is always neutral (does not reveal whether the account exists)."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'يجب أن يكون value بريداً إلكترونياً صحيحاً.'
                  example: carolyne.luettgen@example.org
              required:
                - nin
                - email
      security: []
  /api/v1/auth/password/verify:
    post:
      summary: 'Verify password reset'
      operationId: verifyPasswordReset
      description: "Step 2 — verify the reset code and set a new password. All existing tokens\nand sessions are revoked."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'يجب أن يكون value بريداً إلكترونياً صحيحاً.'
                  example: carolyne.luettgen@example.org
                otp:
                  type: string
                  description: 'يجب أن يكون عدد أحرف value 6 حرفاً.'
                  example: fuudtd
                password:
                  type: string
                  description: ''
                  example: 'O[2UZ5ij-e/dl4m{o,'
              required:
                - nin
                - email
                - otp
                - password
      security: []
  /api/v1/auth/recover/reveal:
    post:
      summary: 'Reveal secret question'
      operationId: revealSecretQuestion
      description: "Step 1 of account recovery — return the account's security question."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'يجب أن يكون value بريداً إلكترونياً صحيحاً.'
                  example: carolyne.luettgen@example.org
              required:
                - nin
                - email
      security: []
  /api/v1/auth/recover/verify:
    post:
      summary: 'Recover by secret answer'
      operationId: recoverBySecretAnswer
      description: "Step 2 of account recovery — verify the secret answer and set a new\npassword. All existing tokens and sessions are revoked."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nin:
                  type: string
                  description: ''
                  example: consequatur
                email:
                  type: string
                  description: 'يجب أن يكون value بريداً إلكترونياً صحيحاً.'
                  example: carolyne.luettgen@example.org
                secret_answer:
                  type: string
                  description: ''
                  example: consequatur
                password:
                  type: string
                  description: ''
                  example: 'O[2UZ5ij-e/dl4m{o,'
              required:
                - nin
                - email
                - secret_answer
                - password
      security: []
  /api/v1/auth/verify-otp:
    post:
      summary: 'Verify OTP'
      operationId: verifyOTP
      description: 'Verify the registration code and receive an access + refresh token pair.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'Must match an existing stored value.'
                  example: consequatur
                otp:
                  type: string
                  description: 'يجب أن يكون عدد أحرف value 6 حرفاً.'
                  example: mqeopf
                device_name:
                  type: string
                  description: 'يجب ألا يزيد عدد أحرف value عن 80 حرفاً.'
                  example: uudtdsufvyvddqamniihf
                  nullable: true
              required:
                - user_id
                - otp
      security: []
  /api/v1/auth/resend-otp:
    post:
      summary: 'Resend OTP'
      operationId: resendOTP
      description: 'Re-issue a fresh registration code, throttled by a 60-second cooldown.'
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: string
                  description: 'Must match an existing stored value.'
                  example: consequatur
              required:
                - user_id
      security: []
  /api/v1/auth/refresh:
    post:
      summary: 'Refresh tokens'
      operationId: refreshTokens
      description: "Exchange a valid refresh token for a new access + refresh pair (rotation).\nSend the REFRESH token as the bearer here, not the access token."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      security: []
  /api/v1/auth/me:
    get:
      summary: 'Current user'
      operationId: currentUser
      description: "Return the authenticated user's profile."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'يلزم تسجيل الدخول.'
                properties:
                  message:
                    type: string
                    example: 'يلزم تسجيل الدخول.'
      tags:
        - Authentication
      security: []
  /api/v1/auth/logout:
    post:
      summary: Logout
      operationId: logout
      description: "Revoke the current device's token pair. Pass `all=true` to revoke every\ndevice."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Authentication
      security: []
  '/api/v1/auctions/{auction_id}/bid':
    post:
      summary: 'Place a bid'
      operationId: placeABid
      description: "Submit a bid in WHOLE DINARS. Business-rule failures (too low, not\nregistered, not live, …) return 422 with the localized reason under\n`errors.amount`."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - Bidding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  description: 'The bid amount in dinars.'
                  example: 15000
              required:
                - amount
      security: []
    parameters:
      -
        in: path
        name: auction_id
        description: 'The ID of the auction.'
        example: a2050443-68af-41f5-8080-20d4b878c6ca
        required: true
        schema:
          type: string
  /api/v1/commercial-register:
    get:
      summary: 'Register status'
      operationId: registerStatus
      description: "The user's Commercial Register state, the data on file, which scans are\npresent, and whether a (re)submit is currently allowed. `status` is null\nwhen nothing has been submitted yet."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses:
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'يلزم تسجيل الدخول.'
                properties:
                  message:
                    type: string
                    example: 'يلزم تسجيل الدخول.'
      tags:
        - 'Commercial Register'
      security: []
    post:
      summary: 'Submit the register'
      operationId: submitTheRegister
      description: "Creates or updates the user's Commercial Register (multipart) and moves it to\nPENDING for review. On a resubmission the previously uploaded scans are kept\nunless replaced, so a rejected user who only fixes a text field need not\nre-upload. A PENDING-under-review or APPROVED record is locked (403)."
      parameters:
        -
          in: header
          name: Accept-Language
          description: ''
          example: ar
          schema:
            type: string
      responses: {  }
      tags:
        - 'Commercial Register'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                company_name:
                  type: string
                  description: 'The company / trading entity name.'
                  example: 'Sarl Mazayada'
                register_number:
                  type: string
                  description: 'The commercial register number.'
                  example: '16/00-1234567 B 19'
                tax_number:
                  type: string
                  description: 'The tax identification number.'
                  example: '000116001234567'
                activity_type:
                  type: string
                  description: 'The registered commercial activity.'
                  example: 'تجارة السيارات'
                start_date:
                  type: string
[...]
